@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--/ Intro Single star /-->
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single"> Realizing Your Dreams</h1>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            About
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!--/ Intro Single End /-->
<!--/ About Star /-->
<section class="section-about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about-img-box">
                    <img src="~/img/slide-about-1.jpg" alt="" class="img-fluid">
                </div>
                <div class="sinse-box">
                    <h3 class="sinse-title">
                        Estate Agency
                        <span></span>
                        <br> Sinse 2023
                    </h3>
                    <p> Art & Creative </p>
                </div>
            </div>
            <div class="col-md-12 section-t8">
                <div class="row">
                    <div class="col-md-6 col-lg-5">
                        <img src="~/img/about-2.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-2  d-none d-lg-block">
                        <div class="title-vertical d-flex justify-content-start">
                            <span>Exclusive Property</span>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 section-md-t3">
                        <div class="title-box-d">
                            <h3 class="title-d">
                                Pro
                                <span class="color-d">Services</span>
                                <br> With Transparency
                            </h3>
                        </div>
                        <p class="color-text-a">
                            With years of industry experience, our team of real estate professionals brings a wealth of knowledge and expertise to the table. We stay up-to-date with market trends, legal regulations, and industry best practices, ensuring that you receive accurate information and sound advice every step of the way.
                        </p>
                        <p class="color-text-a">
                            Whether you're a first-time homebuyer, a seasoned investor, or looking to sell your property, we offer a comprehensive range of services to meet all your real estate needs. From property searches and market analyses to property management and successful negotiations, we provide end-to-end solutions tailored to your specific requirements.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ About End /-->